<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Josefin+Sans:wght@200;300&family=Open+Sans:wght@300;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
</head>
<body>
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="logo-header">
                        <a href="home.html">
                            <img src="../../assets/images/logo.webp" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="header-top-right d-flex justify-content-between">
                        <ul class="d-flex justify-content-center align-self-center">
                            <li>CALL US: + 1 800-567-8990</li>
                            <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                            <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                        </ul>
                        <a href="#" class="primary-btn">JOIN US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="header-menu">
                        <ul class="d-flex nav">
                            <li class="nav-item ">
                                <a class="nav-link active" href="home.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="classes.html">Classes</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Classes Details</a>
                                    <a class="dropdown-item" href="#">Blog Details</a>
                                    <a class="dropdown-item" href="#">Pricing</a>
                                    <a class="dropdown-item" href="#">Faq</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="blog.html">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="header-socials">
                        <a href=""><i class="social-icons mr-25 fab fa-facebook-f"></i></a>
                        <a href=""><i class="social-icons mr-25 fab fa-twitter"></i></a>
                        <a href=""><i class="social-icons mr-25 fab fa-instagram"></i></a>
                        <a href=""><i class="social-icons fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="bg-about">
        <div class="row first-sec mx-0">
            <div class="col-12 text-center text-white">
                <div class="breadcrumb__text">
                    <h2>About Us</h2>
                    <div class="breadcrumb__widget">
                        <a href="home.html">Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid section-about">
        <section class="container">
            <img class="left-flower" src="../../assets/images/background-left.webp" alt="">
            <img class="right-flower" src="../../assets/images/background-right.webp" alt="">
            <div class="about_services">
                <div class="row">
                    <div class="col-3">
                        <div class="services__item">
                            <img src="../../assets/images/af-1.webp" alt="">
                            <h5>Full Rejuvenation</h5>
                            <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                                india!</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="services__item">
                            <img src="../../assets/images/af-2.webp" alt="">
                            <h5>Full Rejuvenation</h5>
                            <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                                india!</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="services__item">
                            <img src="../../assets/images/af-3.webp" alt="">
                            <h5>Full Rejuvenation</h5>
                            <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                                india!</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="services__item">
                            <img src="../../assets/images/af-4.webp" alt="">
                            <h5>Full Rejuvenation</h5>
                            <p>Grab the opportunity to deepen your own yoga practice, relax, restore and experience
                                india!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7 position-relative">
                    <div class="about_pic">
                        <img src="../../assets/images/about-page-pic.webp" alt="">
                    </div>
                </div>
                <div class="col-5">
                    <div class="about_text">
                        <div class="section-title">
                            <img src="../../assets/images/icon.webp" alt="">
                            <h2>What We Do</h2>
                            <p>To be invited to the nearest Cali center and get free physical advice to learn more
                                about
                                the program.</p>
                        </div>
                        <div class="about__bar">
                            <div class="about__bar__item">
                                <p>Breathing</p>
                                <a href="#" class="badge-1 badge">82%</a>
                                <div class="progress-bar">
                                    <div class="progress-bar-inner prog-1"></div>
                                </div>
                            </div>
                            <div class="about__bar__item">
                                <p>Methabolism</p>
                                <a href="#" class="badge-2 badge">73%</a>
                                <div class="progress-bar">
                                    <div class="progress-bar-inner prog-2"></div>
                                </div>
                            </div>
                            <div class="about__bar__item">
                                <p>Flexibility</p>
                                <a href="#" class="badge-1 badge">82%</a>
                                <div class="progress-bar">
                                    <div class="progress-bar-inner prog-1"></div>
                                </div>
                            </div>
                            <div class="about__bar__item">
                                <p>Strongness</p>
                                <a href="#" class="badge-3 badge">86%</a>
                                <div class="progress-bar">
                                    <div class="progress-bar-inner prog-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="container-fluid team">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <img src="../../assets/images/icon.webp" alt="">
                    <h2>Meet Our Team</h2>
                    <p>We search the entire world to provide you with passionate, authentic Indian Yoga</p>
                </div>
            </div>
        </div>
        <div id="" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner pt-50">
                <div class="container">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-6">
                                <div class="team__item">
                                    <div class="team__item__pic">
                                        <img src="../../assets/images/team-1.webp" alt="">
                                    </div>
                                    <div class="team__item__text">
                                        <div class="team__item__title">
                                            <h4>Tracy Maclaren</h4>
                                            <span>Yoga Teacher</span>
                                        </div>
                                        <p>Yoga &amp; Therapy Certificate of<br> Uttarakhand University
                                            Sanskirt</p>
                                        <div class="team__item__social">
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="team__item">
                                    <div class="team__item__pic">
                                        <img src="../../assets/images/team-2.webp" alt="">
                                    </div>
                                    <div class="team__item__text">
                                        <div class="team__item__title">
                                            <h4>Tracy Maclaren</h4>
                                            <span>Yoga Teacher</span>
                                        </div>
                                        <p>Yoga &amp; Therapy Certificate of<br> Uttarakhand University
                                            Sanskirt</p>
                                        <div class="team__item__social">
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-6">
                                <div class="team__item">
                                    <div class="team__item__pic">
                                        <img src="../../assets/images/team-1.webp" alt="">
                                    </div>
                                    <div class="team__item__text">
                                        <div class="team__item__title">
                                            <h4>Tracy Maclaren</h4>
                                            <span>Yoga Teacher</span>
                                        </div>
                                        <p>Yoga &amp; Therapy Certificate of<br> Uttarakhand University
                                            Sanskirt</p>
                                        <div class="team__item__social">
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="team__item">
                                    <div class="team__item__pic">
                                        <img src="../../assets/images/team-2.webp" alt="">
                                    </div>
                                    <div class="team__item__text">
                                        <div class="team__item__title">
                                            <h4>Tracy Maclaren</h4>
                                            <span>Yoga Teacher</span>
                                        </div>
                                        <p>Yoga &amp; Therapy Certificate of<br> Uttarakhand University
                                            Sanskirt</p>
                                        <div class="team__item__social">
                                            <a href="#"><i class="fab fa-facebook"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#" role="button"
               data-slide="prev">
                <i class="fas fa-arrow-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#" role="button"
               data-slide="next">
                <i class="fas fa-arrow-right-mano"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
    </section>s
    <section class="container-fluid courses">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title normal-title text-center">
                        <h2>What We Offer</h2>
                        <p>The trainings are multi-style and you will learn and practice Hatha Vinyasa
                            (flow) and Yin Yoga.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="classes__item">
                        <div class="classes__item_pic">
                            <img src="../../assets/images/classes-1.webp" alt="">
                            <span>20 Jun 2019</span>
                        </div>
                        <div class="classes__item__text">
                            <p>14 Days | Start on 10th Every Month</p>
                            <h4><a href="#">100 Hour Yoga Course Rishikesh</a></h4>
                            <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                            <a href="#" class="class-btn">JOIN NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="classes__item">
                        <div class="classes__item_pic">
                            <img src="../../assets/images/classes-2.webp" alt="">
                            <span>20 Jun 2019</span>
                        </div>
                        <div class="classes__item__text">
                            <p>14 Days | Start on 10th Every Month</p>
                            <h4><a href="#">100 Hour Yoga Course Rishikesh</a></h4>
                            <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                            <a href="#" class="class-btn">JOIN NOW</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="classes__item">
                        <div class="classes__item_pic">
                            <img src="../../assets/images/classes-3.webp" alt="">
                            <span>20 Jun 2019</span>
                        </div>
                        <div class="classes__item__text">
                            <p>14 Days | Start on 10th Every Month</p>
                            <h4><a href="#">100 Hour Yoga Course Rishikesh</a></h4>
                            <h6>Jordan Lawson <span>- Yoga Teacher</span></h6>
                            <a href="#" class="class-btn">JOIN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" container-fluid counter">
        <section class="container">
            <div class="counter-info d-flex justify-content-between">
                <div class="counter__item d-flex justify-content-between">
                    <div class="counter__item__icon">
                        <img src="../../assets/images/counter-1.webp" alt="">
                    </div>
                    <div class="counter__item__text">
                        <h2>2146</h2>
                        <p>Students</p>
                    </div>
                </div>
                <div class="counter__item d-flex d-flex justify-content-between">
                    <div class="counter__item__icon">
                        <img src="../../assets/images/counter-2.webp" alt="">
                    </div>
                    <div class="counter__item__text">
                        <h2>15</h2>
                        <p>Years Of Experience</p>
                    </div>
                </div>
                <div class="counter__item d-flex d-flex justify-content-between">
                    <div class="counter__item__icon">
                        <img src="../../assets/images/counter-3.webp" alt="">
                    </div>
                    <div class="counter__item__text">
                        <h2>48</h2>
                        <p>Branches</p>
                    </div>
                </div>
                <div class="counter__item d-flex d-flex justify-content-between">
                    <div class="counter__item__icon">
                        <img src="../../assets/images/counter-4.webp" alt="">
                    </div>
                    <div class="counter__item__text">
                        <h2>234</h2>
                        <p>Expert Staffs</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
<footer>
    <section class="container">
        <div class="row">
            <div class="col-4">
                <div class="footer__about">
                    <img src="../../assets/images/footer-logo.webp" alt="">
                    <ul>
                        <li>
                            <i class="far fa-clock"></i> Mon - Fri: 6:30am - 07:45pm
                        </li>
                        <li>
                            <i class="far fa-clock"></i> Sat - Sun: 8:30am - 05:45pm
                        </li>
                    </ul>
                    <form action="#" class="subscribe-form position-relative">
                        <input type="text" placeholder="Your Email">
                        <button type="submit">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-2 offset-lg-1 ">
                <div class="footer__widget">
                    <h5>Inspiration</h5>
                    <ul>
                        <li><a href="#">Online Pilates</a></li>
                        <li><a href="#">Yoga for Beginners</a></li>
                        <li><a href="#">Online Pilates</a></li>
                        <li><a href="#">Online Yoga</a></li>
                        <li><a href="#">Conditioning</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2">
                <div class="footer__widget">
                    <h5>Inspiration</h5>
                    <ul>
                        <li><a href="#">Online Pilates</a></li>
                        <li><a href="#">Yoga for Beginners</a></li>
                        <li><a href="#">Online Pilates</a></li>
                        <li><a href="#">Online Yoga</a></li>
                        <li><a href="#">Conditioning</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footer__widget">
                    <h5>Contact Us</h5>
                    <ul class="footer-address">
                        <li><i class="fa fa-phone"></i> (01) 436 8888</li>
                        <li><i class="fa fa-envelope"></i> hello@zogin.com</li>
                        <li><i class="fa fa-location-arrow"></i> 828 Granville Lights Suite 466</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-7">

                    <div class="footer__copyright__text">
                        <p>Copyright © 2020 All rights reserved | This template is made with <i class="fa fa-heart"></i>
                            by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>

                </div>
                <div class="col-5">
                    <div class="footer__copyright__social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<script type="text/javascript" src="../../assets/js/jquery.js"></script>
<script type="text/javascript" src="../../assets/js/bootstrap.bundle.js"></script>
</body>
</html>