<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Josefin+Sans:wght@200;300&family=Open+Sans:wght@300;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
</head>
<body>
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="logo-header">
                        <a href="home.html">
                            <img src="../../assets/images/logo.webp" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="header-top-right d-flex justify-content-between">
                        <ul class="d-flex justify-content-center align-self-center">
                            <li>CALL US: + 1 800-567-8990</li>
                            <li>WRITE US: OFFICE@EXAMPLE.COM</li>
                            <li>OPENING TIMES: MON - FRI: 9:00 - 19:00</li>
                        </ul>
                        <a href="#" class="primary-btn">JOIN US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="header-menu">
                        <ul class="d-flex nav">
                            <li class="nav-item ">
                                <a class="nav-link active" href="home.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="classes.html">Classes</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Classes Details</a>
                                    <a class="dropdown-item" href="#">Blog Details</a>
                                    <a class="dropdown-item" href="#">Pricing</a>
                                    <a class="dropdown-item" href="#">Faq</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="header-socials">
                        <a href=""><i class="social-icons mr-25 fab fa-facebook-f"></i></a>
                        <a href=""><i class="social-icons mr-25 fab fa-twitter"></i></a>
                        <a href=""><i class="social-icons mr-25 fab fa-instagram"></i></a>
                        <a href=""><i class="social-icons fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="bg-about">
        <div class="row first-sec mx-0">
            <div class="col-12 text-center text-white">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__widget">
                        <a href="home.html">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.bundle.js"></script>
</body>
</html>